<h1>Sportify Events</h1>
<p>Input the details of the event below.</p>

<input [(ngModel)]="content" placeholder="Event name " class="input">
<input [(ngModel)]="place" placeholder="Event Place" class="input">
<input [(ngModel)]="edate" class="input" type="date">
<textarea ng-model="edetails" placeholder="Event Details. . ." class="input" style="height:20%"></textarea>

<button class="button is-success" (click)="createNote()" [disabled]="content?.length < 2 || content?.length > 200">
  Set Event
</button>
<hr>
<div *ngFor="let note of notes | async">
  <note-detail [note]="note"></note-detail>
</div>


